<head><link href='https://fonts.googleapis.com/css?family=Roboto|Rubik:400,400italic,700,700italic' rel='stylesheet' type='text/css'></head>
<nav>
    <ul id="nav-bar">
        <li><a href="/">Home</a></li>
        <li><a href="/about_site.html">Meta</a></li>
        <li><a href="/projects.html">Projects</a></li>
        <li><a href="/writing.html">Writing</a></li>
        <li><a href="/reading.html">Reading</a></li>
        <li><a href="/speaking.html">Speaking</a></li>
        <li><a href="https://github.com/dmarticus/" target="_blank">Github</a></li>
        <li><a href="https://www.linkedin.com/in/dmarticus/" target="_blank">LinkedIn</a></li>
        <li><a href="https://twitter.com/dmarticus/" target="_blank">Twitter</a></li>
    </ul>
</nav>